body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  max-width: 100%;
  background-color: #000000;
  color: #a0a0a0;
}

h1 {
  font-size: 30px;
  word-wrap: break-word;
}

.button {
  text-align: center;
  display: inline-block;
  height: 150px;
  width: 49%;
  border-radius: 6px;
  font-size: 80px;
  margin-bottom: 15px;
  color: #000000;
  cursor: pointer;
}

.button:hover {
  filter: brightness(50%);
}

.button:active {
  filter: brightness(30%);
}

.button-content {
  padding-top: 32px;
}

.green {
  background-color: #6f6;
}

.blue {
  background-color: #66f;
}

.gray {
  background-color: #999;
}

.play {
  width: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

table {
  margin-bottom: 10px;
  font-size: 20px;
}

table td {
  padding: 0 7px;
}
