body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  max-width: 100%;
  background-color: #000000;
  color: #a0a0a0;
}

h1, h2, h3 {
  word-wrap: break-word;
}

h1 {
  font-size: 5vmin;
  margin-bottom: 2px;
}

h1 error {
  background-color: red;
  color: #000000;
  padding: 5px;
}

h2 {
  font-size: 4vmin;
  margin-top: 2px;
  margin-bottom: 2px;
}

h3 {
  font-size: 4vmin;
  margin-top: 2px;
}

.button {
  text-align: center;
  display: inline-block;
  height: 150px;
  width: 49%;
  border-radius: 6px;
  margin-bottom: 15px;
  color: #000000;
  cursor: pointer;
  font-size: 150px;
}

.button:hover {
  filter: brightness(50%);
}

.button:active {
  filter: brightness(30%);
}

.button .content, .button .content i {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

.button .icon-content {
  font-size: 70%;
}

.button .text-content {
  font-size: 5vw;
  font-weight: bold;
}

.green {
  background-color: #6f6;
}

.blue {
  background-color: #66f;
}

.gray {
  background-color: #999;
}

.red {
  background-color: #b53636;
}

.yellow {
  background-color: #d7b52f;
}

.violet {
  background-color: #9135bc;
}

.play {
  width: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

table {
  margin-bottom: 40px;
  font-size: 4vmin;
}

table td {
  padding: 0 17px 0 0;
}

.slidecontainer {
  width: 100%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 15px;
}

.slider:hover {
  opacity: 1;
}

/* The slider handle */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #66f;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #66f;
  cursor: pointer;
}

/* No idea if all of this works on IE, but if it does, hide tooltip. */
.slider::-ms-tooltip {
  display: none;
}

.sliderInfoContainer {
  width: 100%;
  text-align: center;
  font-size: 4vmin;
  margin-bottom: 20px;
}

.sliderCenter {
  margin: 0 auto;
  display: inline-block;
}

.sliderVolume {
  margin-bottom: 20px;
}
