body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  max-width: 100%;
  background-color: #000000;
  color: #a0a0a0;
}

h1 {
  font-size: 5vmin;
  word-wrap: break-word;
}

.button {
  text-align: center;
  display: inline-block;
  height: 150px;
  width: 49%;
  border-radius: 6px;
  margin-bottom: 15px;
  color: #000000;
  cursor: pointer;
  font-size: 150px;
}

.button:hover {
  filter: brightness(50%);
}

.button:active {
  filter: brightness(30%);
}

.button .content, .button .content i {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

.button .icon-content {
  font-size: 70%;
}

.button .text-content {
  font-size: 5vw;
  font-weight: bold;
}

.green {
  background-color: #6f6;
}

.blue {
  background-color: #66f;
}

.gray {
  background-color: #999;
}

.red {
  background-color: #b53636;
}

.yellow {
  background-color: #d7b52f;
}

.violet {
  background-color: #9135bc;
}

.play {
  width: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

table {
  margin-bottom: 40px;
  font-size: 4vmin;
}

table td {
  padding: 0 17px 0 0;
}

.table-one {
    float: left;
    width: 50%;
}

.table-two   {
    width: 50%;
    float: right;
}​
