black==19.10b0
flake8==3.8.3
flake8-bugbear==20.1.4
flake8-debugger==3.2.1
flake8-isort==4.0.0
flake8-string-format==0.3.0
flake8-tuple==0.4.1
gitlint==0.13.1
ipython==7.17.0
isort==5.4.2
pexpect==4.8.0
pre-commit==2.7.1
pytest==6.0.1
pytest-randomly==3.4.1
python-semantic-release==7.2.2
requests==2.24.0
snapshottest==0.5.1
